<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.LibraryManagementApp"
        android:label="Library App">

        <activity android:name=".members.MembersActivity"/>
        <activity android:name=".viewbook.ViewBookActivity"/>
        <activity android:name=".addbook.AddBookActivity"/>
        <activity android:name=".dashboard.DashboardActivity"/>
        <activity android:name=".login.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>